<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <h2><%=`This is a String in JS ${4+20}`%></h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, eligendi
      amet. Rem hic nisi quaerat sint officiis modi at perspiciatis amet,
      delectus voluptatum consequatur fugit iusto minus, impedit voluptas
      distinctio tempore laborum totam cum sequi doloremque non. Esse quos
      perferendis architecto dolores distinctio qui, vero quo ducimus ad
      quisquam exercitationem?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sint
      necessitatibus a omnis, tempore doloribus. Quod suscipit esse, atque quae
      explicabo ipsam excepturi eveniet voluptatum facere sit cumque cupiditate
      laborum voluptates reiciendis modi incidunt eius, soluta temporibus.
      Voluptates, sunt accusantium.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
      aspernatur eius laboriosam autem ipsum placeat omnis mollitia porro optio
      ratione.
    </p>
  </body>
</html>
