<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/header') %>
  <body>
    <%- include('partials/navbar')%>
    <h1>You are viewing <%=itemType%></h1>
  </body>
  <%- include('partials/bs4-js') %>
</html>
