/* .pink {
    background-color: pink;
    height: 35px;
    border: 1px dashed red;
} */
img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    align-items: baseline;
}

h1 a {
    margin-right: 10px;
}

nav {
    background-color: rgb(78, 128, 235);
}

.picture-border {
    /* margin-right: 10px; */
    margin-bottom: 15px;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}