<%- layout('./templates/boilerplate') %>
<h1 class="text-center">New Review for <%= park.title %></h1>
<div class="d-flex justify-content-center"></div>

<div class="text-center mt-3">
  <a href="/national-parks/<%= park._id %> ">Back to Park</a>
</div>
