<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Product</title>
  </head>

  <body>
    <h1>Add A Product for Farmstand: <%= farm.name %></h1>
    <form action="/farms/<%= farm._id %>/products" method="POST">
      <label for="name">Product Name</label>
      <input
        type="text"
        name="produce[name]"
        id="name"
        placeholder="Enticing Naming"
      />
      <label for="price">Price (Unit)</label>
      <input
        type="number"
        id="price"
        name="produce[price]"
        placeholder="$0.00"
      />
      <label for="category">Select Category</label>
      <select name="produce[category]" id="category" placeholder="Category">
        <% for(let category of produceCategories){ %>
        <option value="<%=category%>"><%=category%></option>
        <% } %>
      </select>
      <button>Submit</button>
    </form>
  </body>
</html>
