body {
  /* height: 50vh; */
  background-color: greenyellow;
  height: 100vh;
  background-image: url("../imgs/passion.jpg");
  background-size: cover;
  background-position: center;
}

#section-main-page {
  height: 100vh;
  text-align: center;
}

#my-picture {
  min-height: 20vh;
}

#my-tagline {
  vertical-align: middle;
}
.test {
  height: 100vh;
}
