#section-skills {
  text-align: center;
  background-color: white;
  border-radius: 1em;
  border-color: whitesmoke;
}

#languages-list li {
  max-width: 20em;
}

#additional-skills-list li {
  font-size: 2rem;
  vertical-align: bottom;
  margin: 2rem;
  border: 1px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* padding: 1rem 3rem; */
  box-shadow: 2px 2px #888888;
  border-radius: 0.3em;
  background-color: violet;
}

/* TODO: Add media query to reduce font size of the skills */
#additional-skills-list li:nth-child(odd) {
  background-color: wheat;
}

@media-query (max-width: 400px) {
}
