@import url("https://github.com/etgonehomie/MERN/blob/337aab855f95c1bce3df86ea4dc25d615075b825/portfolio/Views/reset.css");
@import url("https://github.com/etgonehomie/MERN/blob/337aab855f95c1bce3df86ea4dc25d615075b825/portfolio/Views/global.css");
@import url("Views/navbar-specifics.css");
@import url("Views/main-specifics.css");
@import url("Views/portfolio-specifics.css");
@import url("Views/timeline-specifics.css");
@import url("Views/languages-specifics");

.dummy {
  background: gray;
  border: 1px solid black;
}

.navbar-brand {
}

body {
  /* height: 50vh; */
  /* background-color: greenyellow; */
  /* background-size: 100%; */
  background-size: cover;
  height: 100vh;
  background: url("https://github.com/etgonehomie/MERN/blob/portfolio/portfolio/imgs/passion.jpg");
  border: 3px solid black;
  background-position: center;
}
