#section-timeline h1 {
  font-size: 3rem;
  text-align: center;
}

/* TODO: Need to add transitions */
.timeline-title {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.timeline-icon {
  border-radius: 50%;
  background-color: greenyellow;
  
  padding: 20px;
}

.timeline-year {
    text-align: right;
    font-size: 1.5rem;
}

.timeline-paragraph {
    font-size: 1.2rem;
    line-height: 1.3rem;
    text-align: left;
}

.fa-chess-board {
  background-color: palevioletred;
  font-size: 1.25em;
  vertical-align: middle;
