h1 {
    font-family: 'Ubuntu', sans-serif;
    font: 70px;
    text-transform: uppercase;
    padding-bottom: 0.75em;
    border-bottom: 3px double grey;
}

img {
    width: 30%;
    float: left;
    margin-bottom: 100px;
}