<%- layout('./templates/boilerplate') %>
<ul>
  <% parks.forEach(park => { %>
  <li>
    <a href="/national-parks/<%= park._id %>"
      ><%= park.title %> @ <%= park.location %></a
    >
  </li>
  <% }) %>
</ul>
