<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Park Show</title>
  </head>
  <body>
    <h1><%= park.title %></h1>
    <h2><%= park.location %></h2>
    <p><a href="/national-parks/<%= park._id %>/edit">Edit</a></p>
    <p><a href="/national-parks">List of Parks</a></p>
  </body>
</html>
