<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Inventory</title>
  </head>
  <body>
    <h1>Inventory</h1>
    // if there is inventory then... // Create a table with header: Name | Price
    | Quantity | Picture // for each item in the db add a row <%- include
    ('partials/bs4-js') %>
  </body>
</html>
